body{
    background-color: $colorPirate;
    font-family: $fontOpenSans;
}
.content{
    height: 100vh;
    @media(max-width: 767px){
        height: auto;
        min-height: 100vh;
        padding: 60px 0;
    }
    .form-wrapper{
        padding-top: 40px;
    }
}