/*
 *  SCSS Variables
 *
 *  $colorCOLORNAME -> Colors
 *  $fontFONTNAME -> Fonts
 *  $spacingSPACINGNAME -> Spacings
 *  $transitionTRANSITIONNAME -> Transitions
 */ 

$colorBlack: #000000;
$colorWhite: #ffffff;

$colorPirate: #4c2582;

$fontOpenSans: 'Open Sans', sans-serif;

$spacingLarge: 100px;
$spacingNormal: 40px;
$spacingSmall: 20px;
$spacingXSmall: 10px;

$transitionNormal: 0.2s linear;